@{
    ViewBag.Title = "LogOn";
    Layout = "~/Areas/SB_Admin/Views/Shared/_AdminLayout.cshtml";
}
<section id="main" class="column">
		
		<h4 class="alert_info">Welcome to the free MediaLoot admin panel template, this could be an informative message.</h4>

        <article class="module width_full">
			<header><h3>登录</h3></header>
				<div class="module_content">
						<fieldset>
							<label>用户名</label>
							<input type="text">
						</fieldset>
                        <fieldset>
							<label>密码</label>
							<input type="text">
						</fieldset>
						<div class="clear"></div>
				</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="登录" class="alt_btn">
					<input type="submit" value="重置">
				</div>
			</footer>
		</article>
        		<div class="spacer"></div>
	</section>
