<?xml version="1.0"?>
<connectionStrings>
  <add name="ShaBooContainer" connectionString="metadata=res://*/ShaBoo.csdl|res://*/ShaBoo.ssdl|res://*/ShaBoo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ShaBoo_final;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>